<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @goal.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @goal.body %>
</p>

<p>
  <strong>Target date:</strong>
  <%= @goal.target_date %>
</p>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
